<h3>Navigation</h3><br/>
<h5><a href="/admin/cart">Cart</a><br/><br/></h5>
<h5><a href="/admin/categories">Categories</a><br/><br/></h5>
<h5><a href="/admin/countries">Countries</a><br/><br/></h5>
<h5><a href="/admin/line_item">Line items</a><br/><br/></h5>
<h5><a href="/order">Orders</a><br/><br/></h5>
<h5><a href="/admin/products">Products</a><br/><br/></h5>
<h5><a href="/admin/users">Users</a><br/><br/></h5>
