<section id="featured" class="featured">
<div class="container">
<div class="row">
<div class="col-lg-12">   
<h2>Please enter your details to place an order</h2>

<%= render 'form', order: @order %>

<%= link_to 'Back', products_index_path %>


</div>
</div>
</div>
</section><!-- End Featured Section -->