// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.style_image {
  width: auto;
  height: 200px;
}

.rails_admin .table { display: none; }

input { width: 300px; }

.notice.col-12 {
     font-size: 1.3rem;  background-color: #ffc107; 
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    -o-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: black;
    margin: 0 0 6px;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* opacity: 0.8; */
    padding: 15px 15px 15px 50px;
    text-align: center;


}

input[type="submit"] { background-color: #ffc107; color: black; margin: 10px; padding: 10px; width: 20%; border-radius: 50px;}
// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 
.products {
table {
border-collapse: collapse;
 }
 
.toast-message {
    color: black !important;
}
 
#toast-container * {
    box-sizing: border-box;
    background: orange !important;
}

 table tr td {
 padding: 5px;
 vertical-align: top;
 }

 .list_image {
 width: 300px !important;
 height: auto;
 }

 .list_description {
 width: 40%;

 dl {
 margin: 0;
 }

 dt {
 color: #244;
 font-weight: bold;
 font-size: larger;
 }
 
 dd {
margin: 0;
 }
 }

 .list_actions {
 width: 10%;
 }

 .list_line_even {
 background: #dddddda6;
 }
 
 td.list_actions a { font-size: 16px; color: blue; font-weight: bold; }

 .list_line_odd {
 background: #ffc107;
 }
 }