<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Eterna Bootstrap Template - Index</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css" >
  <link href="/assets/icofont.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/boxicons.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/animate.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/venobox.css" rel="stylesheet" type="text/css">

  <!-- Template Main CSS File -->
  <link href="/assets/style.css" rel="stylesheet" type="text/css">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/"><%= image_tag("logo.jpg",  {:style => " "}) %></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/products">Products</a></li>
           <% if current_users.nil? %>
          <li><a href="/users/sign_in">Login</a></li>
	        <li><a href="/users/sign_up">Signup</a></li>
          <% end %>
          <% if users_signed_in? %>
          <li><a href="/users/edit">Profile</a></li>
	        <li><%= link_to destroy_users_session_path, method: :delete do  %>Logout<% end %></li>
          <% end %>
          <li><a href="contact.html">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->


